<ion-header>
  <ion-toolbar>
    <ion-title>My Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of itemListData">
      <ion-label>
        <ion-text>
           <h2 style="font-weight: bold;">{{item.content}}</h2>
          <p>{{item.createdDate}}</p> 
        </ion-text>
      </ion-label>
    </ion-item>
   
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
